<h1>New Peep</h1>

<%= form_with model: @peep do |form| %>
    <div>
        <%= form.label :body %><br>
        <%= form.text_field :body %>
        <% @peep.errors.full_messages_for(:body).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>